body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #f9f9fb;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin-left: 70px;
}

.hero-section {
  position: relative;
  width: 773px;
  height: 484px;
  display: flex;
  color: white;
  font-family: Arial, sans-serif;
}

.popular{
  position: relative;
  display: flex;
  color: white;
  font-family: Arial, sans-serif;
}

.background_image {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.image {
  border-radius: 10px;
  position: absolute;
  width: 573px;
  height: 358px;
  object-fit: cover;
  z-index: 1;
}

.overlay_img {
  border-radius: 10px;
  position: absolute;
  width: 573px;
  height: 358px;
  background-color: rgba(27, 0, 66,0.6);
  z-index: 2;
}

.overlay {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 0, 66,0.6);
  z-index: 2;
}

.content_img {
  width: 496px;
  height: 275px;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  z-index: 3;
  padding: 20px;
}

.content {
  width: 668px;
  height: 236px;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  z-index: 3;
  padding: 20px;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.25rem;
}

h3{
  font-size: 1.75rem;
}

h4{
  font-size: 1.125rem;
}

h5{
  font-size: 1rem;  
}

h6{
  font-size: 0.875rem;
}